
.main{
    display:grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "titulo titulo"
                         "promo  destacado";
    text-align: center;
    padding: 1rem;
    column-gap: 2rem;

    &__titulo{
        grid-area: titulo;
        @extend .estiloTitulos;
    }

    &__destacado{
        width: 100%;
        grid-area:destacado;
        &__img:hover{
            transform: scale(1.1, 1.1);
            transition: all .5s;
        }
    }


    &__promo{
        width: 100%;
        grid-area:promo;
        &__img{
            width: 60%;
            height: 500px;
        }
        &__img:hover{
            transform: scale(1.1, 1.1);
            transition: all .5s;
        }
    }
}

