
.tituloNosotros{
    @extend .estiloTitulos;
}
.nosotros{
    display:flex;
    justify-content: center;
    &__tarjetas{
        display:block;
        text-align: center;
    }
    &__tarjetas i{
        display:inline-block;
        font-size: 3rem;
    }
}
