
.tituloNosotros{
    @extend .estiloTitulos;
}
.nosotros{
    display:flex;
    justify-content: center;
    &__tarjetas{
        display:block;
        text-align: center;
    }
    &__tarjetas i{
        display:inline-block;
        font-size: 3rem;
    }
    &__foto__instagram{
        display:flex;
        justify-content: center;
    }
    &__mensaje{
        display:flex;
        justify-content: center
    }
    &__boton__instagram{
        @include estiloBotones(white, red, red, black);
        border:red;
    }    
    &__boton__contacto{
        @include estiloBotones(white, blue, white, blue);
    }
}
