@import './variables';
@import './otros';
@import './index';
@import './contacto';
@import './productos';
@import './faqs';
@import './nosotros';
@import './footer';
@import './queries';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}