@import './variables';
@import './index';
@import './contacto';
@import './productos';
@import './faqs';
@import './nosotros';



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-logo{
    width: 6rem;
}
a{
    text-decoration: none; 
    color: rgb(23, 23, 23);
}
a:hover{
    color:red;
}

.menu{
    font-size: 1.5rem;
}

footer {
    border-top: solid 2px;
}

.footerClass{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "telefono ig horarios"
                         "copy copy copy";
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
}
.icon-footer{
    font-size: 1.5rem;
}
#iconIg:hover{
    color: red;
}
#iconGit:hover{
    color:blue;
}
.divFooter{
    border-top: solid 0.1rem;
    grid-area:copy;
    text-align: center;
}

@media only screen and (max-width: 980px){
    /*-------------------Contactos---------------------------*/
    .contactos {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 150px 150px;
        grid-template-areas: "horariosContacto"
                             "telefono"
                             "ubicacion"
                             "map";
        text-align: center;
        font-size: 1.5rem;
        &__horarios{
            grid-area:horariosContacto;
        }
        &__direccion{
            grid-area:ubicacion;
        }
        &__numero{
            grid-area:telefono;
        }
        &__map{
            grid-area:map;
            display:flex;
            justify-content: center;
            padding:4rem;
        }
    }
    
    /*---------------------------PRODUCTOS-----------------------------*/
    .productos{
        display:grid;
        grid-template-columns: 15% 40% 40%;
        grid-template-areas: "titulo titulo titulo"
                            "menu prod1 prod2"
                            "menu prod3 prod4"
                            "menu prod5 prod6";
        grid-template-rows: 65px 1fr 1fr 1fr;
        row-gap: 2rem;
        padding-bottom: 2rem;
        justify-items:center;
        &__titulo{
            grid-area:titulo;
        }
        &__menu{
            grid-area:menu;
        }
        &__producto1{
            grid-area:prod1;
        }
        &__producto2{
            grid-area:prod2;
        }
        &__producto3{
            grid-area:prod3;
        }
        &__producto4{
            grid-area:prod4;
        }
        &__producto5{
            grid-area:prod5;
        }
        &__producto6{
            grid-area:prod6;
        }  
    }   
}
@media only screen and (max-width: 600px){
    body{
        padding-left: 0;
        padding-right: 0;
    }

    .main{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas: "titulo"
                             "promo" 
                             "destacado";
        align-items: center;
        text-align: center;
        &__titulo{
            grid-area: titulo;
            width: 100%;
        }        
        &__destacado{
            grid-area:destacado;
            &__img{
                width: 100%;
            }
        }  
        &__promo{
            grid-area:promo;
            &__img{
                width: 100%;
            }
        }
    
    }
    

    .footerClass{
        display:grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "telefono"
                             "ig"
                             "horarios" 
                             "copy";
        align-items: center;
        justify-content: center;
    }
    
    .divFooter{
        grid-area:copy;
        text-align: center;
    }
    .telefonoFooter{
        grid-area:telefono;
        text-align: center;
    }
    .instagramFooter{
        grid-area: ig;
        text-align: center;
    }
    .imgInstagram{
        width: 20%;
    }
    
    .horariosFooter{
        grid-area: horarios;
        text-align: center;
    }
    /*---------------------------PRODUCTOS-----------------------------*/
    .productos{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: "titulo"
                                 "prod1"
                                 "prod2"
                                 "prod3"
                                 "prod4"
                                 "prod5"
                                 "prod6";
        grid-template-rows: 65px 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 2rem;
        padding-bottom: 2rem;
        justify-items: center;
        &__titulo{
            grid-area:titulo;
        }
        &__menu{
            display:none;
        }
        &__producto1{
            grid-area:prod1;
        }
        &__producto2{
            grid-area:prod2;
        }
        &__producto3{
            grid-area:prod3;
        }
        &__producto4{
            grid-area:prod4;
        }
        &__producto5{
            grid-area:prod5;
        }
        &__producto6{
            grid-area:prod6;
        }
    } 
    /*-------------------Contactos---------------------------*/
    .contactos {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 150px 150px;
        grid-template-areas: "horariosContacto"
                             "telefono"
                             "ubicacion"
                             "map";
        text-align: center;
        font-size: 1.5rem;
        &__horarios{
            grid-area:horariosContacto;
        }
        &__direccion{
            grid-area:ubicacion;
        }
        &__numero{
            grid-area:telefono;
        }
        &__map{
            grid-area:map;
        }
    }
}